#Writing {
  width: 100%;
  //overflow: auto;
  box-sizing: border-box;
  .hidden {
    display: none;
  }
  .content {
    .item {
      display: flex;
      align-items: center;
      margin: 10px 0;
      .label {
        width: 10%;
        text-align: right;
        white-space: nowrap;
        margin-right: 10px;
      }
    }
  }
}
