#category {
  padding-top: 80px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  .category_region {
    max-width: 820px;
    margin: auto;
    padding-bottom: 30px;
    .category_title {
      padding: 80px;
      text-align: center;
      color: deepskyblue;
      font-size: 30px;
    }
  }
}
