#UserInfo {
  width: 100%;
  //padding: 30px;
  display: flex;
  flex-flow: column;
  //border: 1px solid #f0f0f0;
  //background: #fff;
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    .edit {
      margin-left: 1rem;
      text-decoration: underline;
    }
    input {
      width: auto;
    }
    .desc {
      color: #999;
      margin-left: 15px;
    }
    .ant-avatar {
      width: 80px;
      height: 80px;
      cursor: pointer;
    }
    .label {
      width: 15%;
    }
  }
}
