#footer {
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  padding-top: 50px;
  backdrop-filter: blur(10px);
  .footer-region {
    max-width: 820px;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    .sign {
      text-align: center;
      span {
        display: block;
        font-size: 40px;
        color: deepskyblue;
        animation: signAnimate 2.5s linear infinite;
      }
    }
    .wisdom {
      font-size: 13px;
      color: #666;
      margin-top: 15px;
    }
    .copyright {
      font-size: 13px;
      color: #666666;
    }
  }
  @keyframes signAnimate {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
